<footer class="footer bg-primary text-light d-print-none">
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 col-xl-4 py-5" style="background-color: rgba(0,0,0,0.5)">
                <h2 class="mb-5">Website Feedback</h2>
                <p>Route Cause would love to hear what you think about this site. Please write and let us know.</p>
                <form method="POST" action="https://formspree.io/routecause@yahoo.com">
                    <input type="hidden" name="_subject" value="Your enquiry to Route Cause" />
                    <ul class="form-row list-unstyled">
                        <li class="col col-12 mb-3">
                            <label for="name">Name <sup>*</sup> <span class="sr-only">This field is required</span></label>
                            <input class="form-control form-control-lg" autocomplete="name" type="text" name="name" id="name" required>
                        </li>
                        <li class="col col-12 mb-3">
                            <label for="email">Email <sup>*</sup> <span class="sr-only">This field is required</span></label>
                            <input class="form-control form-control-lg" autocomplete="email" type="email" name="_replyto" id="email" required>
                        </li>
                        <li class="col col-12 mb-3">
                            <label for="phone">Phone (optional)</label>
                            <input class="form-control form-control-lg" autocomplete="tel-national" type="tel" id="phone" name="phone">
                        </li>
                        <li class="col col-12 mb-3">
                            <label for="message">Message <sup>*</sup> <span class="sr-only">This field is required</span></label>
                            <textarea class="form-control form-control-lg" name="message" id="message" required></textarea>
                        </li>
                    </ul>
                    <input type="hidden" name="_next" value="https://www.routecause.org" />
                    <label for="_gotcha" class="sr-only">Spam catcher</label>
                    <input type="text" name="_gotcha" style="display:none" autocomplete="nope" id="_gotcha" />
                    <button class="btn btn-info btn-outline-light btn-lg" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-info py-3">
        <div class="container">&copy; 2020 Route Cause</div>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script rel="preconnect" async src="https://www.googletagmanager.com/gtag/js?id=UA-156421431-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-156421431-1');
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<!-- Script pointing to search-script.js -->
<script src="{{'/assets/vendor/simple-jekyll-search.js' | prepend: site.baseurl}}" type="text/javascript"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  searchResultTemplate: '<li class="py-5"><h2 class="h5">{title}</h2><p>{summary}</p><a href="{url}" class="stretched-link">{url}</a></li>',
  noResultsText: ("Sorry, no result found!"),
  json: '/search.json'
})
</script>
<script>
    document.addEventListener('DOMContentLoaded', init, false);
    function init(){
        var mapTriggers = document.querySelectorAll('[data-map-trigger]');
        var regionsMap = document.getElementById("RegionsMap");
        for (const trigger of mapTriggers) {
            trigger.addEventListener('mouseenter', (e) => {
                var region = regionsMap.getElementById(e.target.getAttribute('data-map-target'));
                document.querySelector('[data-description]').classList.add('active');
                document.querySelector('[data-description]').innerHTML = e.target.getAttribute('data-map-target');
                region.classList.add('active')
            });
            trigger.addEventListener('mouseleave', (e) => {
                var region = regionsMap.getElementById(e.target.getAttribute('data-map-target'));
                document.querySelector('[data-description]').classList.remove('active');
                document.querySelector('[data-description]').innerHTML = '';
                region.classList.remove('active')
            });
        }
        var mapRegions = regionsMap.querySelectorAll('[data-name]');
        for (const region of mapRegions) {
            region.addEventListener('mouseover', (e) => {
                var svgBoundingRect = region.getBoundingClientRect()
                var button = document.querySelector(`[data-map-target="${e.target.id}"]`);
                button.classList.add('active');
                region.classList.add('active');
                document.querySelector('[data-description]').classList.add('active');
                document.querySelector('[data-description]').innerHTML = e.target.getAttribute('data-name');
                document.querySelector('[data-description]').style.left = `"${svgBoundingRect.left}px"`;
                document.querySelector('[data-description]').style.top = `"${svgBoundingRect.top}px"`;
            });
            region.addEventListener('mouseout', (e) => {
                setTimeout(() => { 
                    var button = document.querySelector(`[data-map-target="${e.target.id}"]`);
                    button.classList.remove('active');
                    region.classList.remove('active')
                    document.querySelector('[data-description]').classList.remove('active');
                    document.querySelector('[data-description]').innerHTML = "";
                }, 200);
            });
        }
    };
</script>