<footer class="footer bg-primary text-light d-print-none">
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 col-xl-4 py-5" style="background-color: rgba(5, 56, 100,0.5)">
                <h2 class="mb-5">Website Feedback</h2>
                <p>Route Cause would love to hear what you think about this site. Please write and let us know.</p>
                <form method="POST" action="https://formspree.io/routecause@yahoo.com">
                    <input type="hidden" name="_subject" value="Your enquiry to Route Cause" />
                    <ul class="form-row list-unstyled">
                        <li class="col col-12 mb-3">
                            <label for="name">Name <sup>*</sup> <span class="sr-only">This field is required</span></label>
                            <input class="form-control" autocomplete="name" type="text" name="name" id="name" required>
                        </li>
                        <li class="col col-12 mb-3">
                            <label for="email">Email <sup>*</sup> <span class="sr-only">This field is required</span></label>
                            <input class="form-control" autocomplete="email" type="email" name="_replyto" id="email" required>
                        </li>
                        <li class="col col-12 mb-3">
                            <label for="phone">Phone (optional)</label>
                            <input class="form-control" autocomplete="tel-national" type="tel" id="phone" name="phone">
                        </li>
                        <li class="col col-12 mb-3">
                            <label for="message">Message <sup>*</sup> <span class="sr-only">This field is required</span></label>
                            <textarea class="form-control" name="message" id="message" required></textarea>
                        </li>
                    </ul>
                    <input type="hidden" name="_next" value="https://www.routecause.org" />
                    <label for="_gotcha" class="sr-only">Spam catcher</label>
                    <input type="text" name="_gotcha" style="display:none" autocomplete="nope" id="_gotcha" />
                    <button class="btn btn-primary btn-outline-light" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-info py-3">
        <div class="container">&copy; 2020 Route Cause</div>
    </div>
</footer>