<div class="card">
    <img src="{{'/assets/images/placeholder.jpg' | prepend: site.baseurl}}" class="card-img-top"
        alt="placeholder image">
    <div class="card-body">
        <h3 class="card-title h5">Product Name</h3>
        <strong class="card-text">
            <span class="text-primary">****</span> | Product Location | Product Category
        </strong>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae diam congue, tincidunt mauris ut,
            consequat metus. Pellentesque vulputate mattis dapibus.
        </p>
        <dl>
            <dt>Prices from:</dt>
            <dd>&pound;00.00<span>- Per room per night</span></dd>
            <dt>Facilities</dt>
            <dd class="d-inline">Parking, Wifi, Pets Welcome</dd>
            <dt>Address Line 1<br />
                Address Line 2<br />
                Postcode</dt>
            <dd></dd>
            <dt>Telephone</dt>
            <dd>
                <a class="d-md-none" href="tel: + #">Call 00000-000-0000</a>
                <span class="d-none d-md-block">
                    00000-000-0000
                </span>
            </dd>
            <dt>Email</dt>
            <dd>
                <a href="mailto: #" target="_blank">test@test.com</a>
            </dd>
        </dl>
    </div>
    <a class="btn btn-primary btn-lg btn-block m-0" href="#" target="_blank">Visit Website</a>
</div>