@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

$white:    #fff;
$theme_color:     #1c73be;

$theme-colors: (
  "primary": $theme_color,
  "secondary": #333,
  "danger": #ff4136,
  "dark": #191919,
  "info": #053864,
);

$link-color: lighten(#1c73be, 10%);
$link-hover-color: lighten(#1c73be, 10%);

$enable-rounded: false;

$font-family-serif: Montserrat, Georgia, "Times New Roman", Times, serif;
$headings-font-family: $font-family-serif;
$font-family-base: $font-family-serif;
$headings-font-weight: 700;
$enable-responsive-font-sizes: true;

$nav-tabs-border-color: transparent;

$nav-tabs-link-hover-border-color: transparent;
$text-muted: #aaaaaa;

$input-border-color: transparent;

h1 {
  font-weight: 300;
  font-size: 4rem;
}

