---
layout: default
page-type: routes
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content" itemprop="articleBody">  
    <section class="text-light position-relative d-md-flex">
      <div class="container py-5" style="z-index: 2">
          <div class="row">
              <div class="col col-md-5">
                  <h1 itemprop="name headline">{{ page.title }}</h1>
                  <p class="lead">{{ page.lead }}</p>
              </div>
          </div>
      </div>
      <figure class="hero d-print-none">
          <img src="{{page.heroImagePath | prepend: site.baseurl}}" alt="{{page.imageAlt}}"/>
          <figcaption class="sr-only">
              <span>{{page.heroImageAlt}}</span>
              <span>{{page.heroImageCredit}}</span>
          </figcaption>
      </figure>
  </section>
  <section class="bg-primary d-print-none">
    <div class="container">
        <div class="btn-toolbar justify-content-md-between mx-n3">
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.gpx'}}" class="btn btn-lg btn-primary">Download GPX</a>
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.kml'}}" class="btn btn-lg btn-primary">Download KML</a>
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.tcx'}}" class="btn btn-lg btn-primary">Download TCX</a>
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.pdf'}}" class="btn btn-lg btn-primary">Download PDF Map</a>
            <button onclick="window.print();return false;" type="button" class="btn btn-lg btn-primary">Print Route</button>
        </div>
    </div>
</section>
<section class="route-summary__wrapper bg-info text-light py-5">
  <div class="container">
      <h2 class="mb-5">Route Summary</h2>
      <ul class="mb-0 row row-cols-2 row-cols-md-4 list-unstyled">
          <li class="col py-3">
              <h3 class="h5">Distance</h3>
              <p>{{page.distanceMiles}} miles / {{page.distanceKilometres}} km</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Time</h3>
              <p>{{page.durationHours}} hours</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Ascent</h3>
              <p>{{page.ascent}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Difficulty Level</h3>
              <p>{{page.difficultyLevel}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Terrain</h3>
              <p>{{page.terrain}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Start Point</h3>
              <p>{{page.startPoint}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">End Point</h3>
              <p>{{page.endPoint}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">How to Get There</h3>
              {{page.howToGetThere}}
          </li>
      </ul>
  </div>
</section>
<section class="map-wrapper container">
    <h2 class="py-5 text-light">Route Map</h2>
    <iframe 
        class="d-print-none" 
        name="plotaroute_map_{{page.plotARouteID}}" 
        src="https://www.plotaroute.com/embedmap/{{page.plotARouteID}}?units=miles&hills=show" 
        frameborder="0" 
        scrolling="no" 
        allowfullscreen 
        webkitallowfullscreen 
        mozallowfullscreen 
        oallowfullscreen 
        msallowfullscreen>
    </iframe>
</section>

<section class="text-light">
    <h2 class="container py-5">Route Description</h2>
    <ul class="list-unstyled container mb-0">
        {% for stage in page.stages %}
        <li class="row mb-5">
            <div class="col col-sm-8">
                <dl>
                    <dt class="h5"><span>Stage {{stage.number}}</span></dt>
                    <dd>{{stage.description}}</dd>
                </dl>
                <figure class="d-print-none">
                    <div class="d-block mb-4 position-relative">
                    <img class="img-fluid" src="{{stage.imagePath | prepend: site.baseurl}}" alt="Lorem ipsum dolor sit amet" />
                    <button class="caption-button btn btn-secondary btn-sm position-absolute" data-toggle="collapse" aria-expanded="false" aria-controls="stage{{stage.number}}Caption" data-target="#stage{{stage.number}}Caption" type="button">Toggle Caption</button>
                    </div>
                    <figcaption class="collapse" id="stage{{stage.number}}Caption">
                        <p class="h6">{{stage.imageDescription}}</p>
                        <a href="#">Photo by {{stage.imageCredit}}</a>
                    </figcaption>
                </figure>
            </div>
        </li>
        {% endfor %}
    </ul>
         <img class="d-none d-print-block" src="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.jpg'}}" width="90%" />
    </section>

    <section class="text-white py-5 d-print-none">
        <div class="container">
            <h2 class="mb-5">Gallery</h2>
            <div class="card-columns card-columns--gallery">
                {% for galleryItem in page.gallery %}
                <figure class="card bg-dark">
                    <a class="d-block mb-4" data-fancybox="images" href="{{galleryItem.imagePath | prepend: site.baseurl}}">
                        <img class="img-fluid" src="{{galleryItem.imagePath | prepend: site.baseurl}}" alt="{{galleryItem.imageDescription}}">
                    </a>
                    <figcaption>
                        <p class="h6">{{galleryItem.imageDescription}}</p>
                        <a href="#">Photo by {{galleryItem.imageCredit}}</a>
                    </figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
    </section>

    {{ content }}
  </div>
</article>