---
layout: default
page-type: routes
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content" itemprop="articleBody">  
    <section class="text-light position-relative d-md-flex">
      <div class="container py-5">
          <div class="row">
              <div class="col col-md-5">
                  <h1 itemprop="name headline">{{ page.title }}</h1>
                  <p class="lead">{{ page.lead }}</p>
              </div>
          </div>
      </div>
      <figure class="hero d-print-none">
          <img src="{{page.heroImagePath | prepend: site.baseurl}}" alt="{{page.imageAlt}}" loading="lazy" width="auto" />
          <figcaption class="sr-only">
              <span>{{page.heroImageAlt}}</span>
              <span>{{page.heroImageCredit}}</span>
          </figcaption>
      </figure>
  </section>
  <section class="position-absolute w-100 mt-n5 d-print-none" style="z-index: 1">
    <h2 class="sr-only text-light">Share this Route</h2>
    <div class="d-flex justify-content-end">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.routecause.org{{page.url}}" class="btn btn-lg btn-info" target="_blank" rel="noreferrer">
            <i class="fab fa-facebook-f"></i>
            <span class="sr-only">Share on Facebook</span>
        </a>
        <a href="https://twitter.com/intent/tweet?text=https://www.routecause.org{{page.url}}" data-share="twitter" data-share-url="{{page.url | prepend: site.baseurl}}" class="btn btn-lg btn-info" target="_blank" rel="noreferrer">
            <i class="fab fa-twitter"></i>
            <span class="sr-only">Share on Twitter</span>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.routecause.org{{page.url}}" class="btn btn-lg btn-info" target="_blank" rel="noreferrer">
            <i class="fab fa-linkedin-in"></i>
            <span class="sr-only">Share on LinkedIn</span>
        </a>
        <a href="mailto:?subject={{page.title}}&amp;body=https://www.routecause.org{{page.url}}" class="btn btn-lg btn-info" target="_blank">
            <i class="fas fa-envelope"></i>
            <span class="sr-only">Share via E-mail</span>
        </a>
    </div>
</section>
  <section class="bg-primary d-print-none">
    <div class="container">
        <h2 class="sr-only">Route Downloads</h2>
        <div class="btn-toolbar mx-n3">
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.gpx'}}" class="btn btn-lg btn-primary">Download GPX<i class="ml-2 fa fa-download"></i></a>
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.kml'}}" class="btn btn-lg btn-primary">Download KML<i class="ml-2 fa fa-download"></i></a>
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.tcx'}}" class="btn btn-lg btn-primary">Download TCX<i class="ml-2 fa fa-download"></i></a>
            <a href="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.pdf'}}" class="btn btn-lg btn-primary" title="Opens PDF file in a new window">Download Map (PDF)<i class="ml-2 fa fa-download"></i></a>
            <button onclick="window.print();return false;" type="button" class="btn btn-lg btn-primary">Print Route<i class="ml-2 fa fa-print"></i></button>
        </div>
    </div>
</section>


<section class="route-summary__wrapper bg-info text-light py-5">
  <div class="container">
      <h2 class="mb-5">Route Summary</h2>
      <ul class="mb-0 row row-cols-2 row-cols-md-4 list-unstyled">
          <li class="col py-3">
              <h3 class="h5">Distance</h3>
              <p>{{page.distanceMiles}} miles / {{page.distanceKilometres}} km</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Time</h3>
              <p>{{page.durationHours}} hours</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Ascent</h3>
              <p>{{page.ascent}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Difficulty Level</h3>
              <p>{{page.difficultyLevel}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Terrain</h3>
              <p>{{page.terrain}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">Start Point</h3>
              <p>{{page.startPoint}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">End Point</h3>
              <p>{{page.endPoint}}</p>
          </li>
          <li class="col py-3">
              <h3 class="h5">How to Get There</h3>
              {{page.howToGetThere}}
          </li>
      </ul>
  </div>
</section>
<section class="map-wrapper container">
    <h2 class="py-5 text-light">Route Map</h2>
    <iframe 
        rel="preconnect" 
        class="d-print-none" 
        loading="lazy"
        title="{{page.title}} interactive map"
        name="plotaroute_map_{{page.plotARouteID}}" 
        src="https://www.plotaroute.com/embedmap/{{page.plotARouteID}}?units=miles&hills=show" 
        frameborder="0" 
        scrolling="no" 
        allowfullscreen 
        webkitallowfullscreen 
        mozallowfullscreen 
        oallowfullscreen 
        msallowfullscreen>
    </iframe>
</section>

<section class="text-light">
    <h2 class="container py-5">Route Description</h2>
    <ul class="list-unstyled container mb-0">
        {% for stage in page.stages %}
        <li class="row mb-5">
            <div class="col col-sm-8">
                <dl>
                    <dt class="h5"><span>Stage {{stage.number}}</span></dt>
                    <dd>{{stage.description}}</dd>
                </dl>
                <figure class="d-print-none">
                    <div class="d-block mb-4 position-relative">
                    <img class="img-fluid" src="{{stage.imagePath | prepend: site.baseurl}}" alt="{{stage.imageDescription}}" loading="lazy" width="auto"/>
                    <button class="caption-button btn btn-secondary position-absolute px-3" data-toggle="collapse" aria-expanded="false" aria-controls="stage{{stage.number}}Caption" data-target="#stage{{stage.number}}Caption" type="button"><span class="sr-only">Toggle Caption</span><i class="fa fa-info"></i></button>
                    </div>
                    <figcaption class="collapse" id="stage{{stage.number}}Caption">
                        <p class="h6">{{stage.imageDescription}}</p>
                        <a href="#">Photo by {{stage.imageCredit}}</a>
                    </figcaption>
                </figure>
            </div>
        </li>
        {% endfor %}
    </ul>
         <img alt="{{ page.title }} printable map" class="d-none d-print-block" src="{{page.routeAssetsPathBase | prepend: site.baseurl | append: '.jpg?nf_resize=smartcrop&w=500'}}" width="90%" height="auto" loading="lazy" />
    </section>

    <section class="text-white py-5 d-print-none">
        <div class="container">
            <h2 class="mb-5">Gallery</h2>
            <div class="card-columns card-columns--gallery">
                {% for galleryItem in page.gallery %}
                <figure class="card bg-dark">
                    <a class="d-block mb-4" data-fancybox="images" href="{{galleryItem.imagePath | prepend: site.baseurl}}">
                        <img class="img-fluid" src="{{galleryItem.imagePath | prepend: site.baseurl}}" alt="{{galleryItem.imageDescription}}" loading="lazy"/>
                    </a>
                    <figcaption>
                        <p class="h6">{{galleryItem.imageDescription}}</p>
                        <a href="{{galleryItem.imageCreditHref}}">Photo by {{galleryItem.imageCredit}}</a>
                    </figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="user-reviews__wrapper text-light d-print-none">
        <div class="container py-5">
        <h2 class="mb-5">Route Reviews</h2>
        <ul class="list-unstyled user-reviews__list row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% for review in page.reviews %}
            <li class="media col p-3">
                <img class="mr-3" src="{{review.imagePath}}" alt="{{review.name}}" loading="lazy"/>
                <div class="media-body">
                    <strong class="h5 d-block">
                        <span class="rating">
                            {% for i in (1..review.rating) %}
                            <i class="fa fa-star"></i>
                            {% endfor %}
                        </span>
                        {{review.name}}
                    </strong>
                    {{review.description}}
                </div>
            </li>
            {% endfor %}
        </ul>
        
        </div>
        <div class="bg-dark">
            <div class="container py-3">
                <small><strong>Disclaimer:</strong> The above reviews are not real and are only just for show. If you would like to submit a real review of this {{page.title}} cycle route, please <a href="mailto: routecause@yahoo.com">email us</a></small>
            </div>
        </div>
    </section>

    {{ content }}
  </div>
</article>