.logo {
  width: 100%;
  max-width: 200px;
}

.top-header {
  background-image: url("../images/tyremarks.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.search-list {
  position: static;
  width: 50vw;
  width: 100%;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link  {
  color: $white;
}


