.scrim::after {
    background: linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(25, 25, 25, 0) 50%);
    content: "";
    height: 30vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      top: auto;
      background: linear-gradient(0deg, rgba(25, 25, 25, 1) 0%, rgba(25, 25, 25, 0) 50%);
      bottom: 0;
    }
  }

.media-image-wrapper {
  width: 150px;
  height: 200px;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}