.route-map {
    margin-bottom: 0;
    svg {
      width: 100%;
      height: 100%;
      object-position: center bottom;
      object-fit: contain;
      path {
        fill: #1c73be;
        transition: all 250ms ease;
        stroke: #1c73be;
        stroke-width: 5px;
        &.active {
          fill: #fff;
          stroke: #fff;
        }
        &:hover {
          cursor: pointer;
          &:after {
            position: absolute;
            display: block;
            content: attr(data-name);
          }
        }
      }
    }
  .description {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    color: #21669e;
    display: none;
    margin: 0 auto;
    padding: 10px 15px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    &.active {
      display: block;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 100%;
      width: 0;
      height: 0;
      margin-left: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white
    }
  }
}
  